# the virtual environment should not be included in the build context
venv/

# these files do not need to be inside the image
.dockerignore
Dockerfile
docker-compose.yml

# contains sensitive information and should not be included in the build context
.env

# do not include staticfiles
staticfiles/
*static/